<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo 
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<!-- 配置应用程序名称,在可视化管理界面中用于区分哪个应用 -->
	<dubbo:application name="ego-rpc-service-provider" />
	<!-- 配置注册中心 跟注册中心交互使用zookeeper协议 注册中心的IP地址和端口号分别为：192.168.10.14和2181 -->
<!-- 	<dubbo:registry protocol="zookeeper" address="192.168.10.14:2181"></dubbo:registry> -->
	<dubbo:registry protocol="zookeeper" address="192.168.10.13:2181,192.168.10.13:2182,192.168.10.13:2183"></dubbo:registry>
	<!-- 协议 -->
	<!-- 当前服务在发布的时候，使用dubbo协议，同时该服务发布在20880端口 -->
	<dubbo:protocol name="dubbo" port="20880" host="192.168.10.16"></dubbo:protocol>
	<!-- 需要暴露的接口 -->
	<!-- 需要暴露出该接口的服务 -->
	<!-- ref指定该接口提供的服务由谁来实现 -->
	<!-- retries="0"表示只调用一次，不需要重试，重试与否，涉及到分布式事务的管理问题，暂时设置为0 -->
	<dubbo:service timeout="2000" retries="0" interface="com.bjsxt.ego.rpc.service.ItemService"
		ref="itemServiceImpl" />
	<!-- 此处的ref实际上是直接发布该接口的itemServiceImpl实现类的方法 -->
	<!-- 由于实现类加了注解，所以这里直接使用bean的id -->
	<dubbo:service timeout="2000" retries="0" interface="com.bjsxt.ego.rpc.service.ItemCatService"
		ref="itemCatServiceImpl" />
	<dubbo:service timeout="2000" retries="0" interface="com.bjsxt.ego.rpc.service.ItemParamService"
		ref="itemParamServiceImpl" />
	<dubbo:service timeout="2000" retries="0" interface="com.bjsxt.ego.rpc.service.ContentCategoryService"
		ref="contentCategoryServiceImpl" />
	<dubbo:service timeout="2000" retries="0" interface="com.bjsxt.ego.rpc.service.ContentService"
		ref="contentServiceImpl" />
	<dubbo:service timeout="2000" retries="0" interface="com.bjsxt.ego.rpc.service.RedisService"
		ref="redisServiceImpl" />
	<dubbo:service timeout="2000" retries="0" interface="com.bjsxt.ego.rpc.service.UserService"
		ref="userServiceImpl" />
	<dubbo:service timeout="2000" retries="0" interface="com.bjsxt.ego.rpc.service.OrderService"
		ref="orderServiceImpl" />
</beans>
